
body {
    background-color: black;
    color: white;
}

header {
    color: rgb(177, 240, 82);
    text-align: center;
    font-size: 40px;
    font-family: "Chee Bleed";
    font-style: italic;
}

header img {
    width: 25%;
    max-width: 50%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 0px;
}

h2 { 
    text-align: center;
    color: rgb(177, 240, 82);
    font-family: "Times New Roman";
}

h3 {
    font-style: italic;
    
}

ul {
    border: 10px solid rgb(42, 147, 196);
    padding: 35px;
    margin: 0px;
    font-size: 20px; 
    
}

