
html {
/* border:10px solid rgb(11, 148, 206); */
padding: 45px;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4Ql7S-OkPm5DcoyqZNXOMshTERqvHNb6Vdg&usqp=CAU') ;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 30px;
}

header {
    color: rgb(77, 154, 190);
    text-align: center;
    font-size: 40px;
    font-family: "Chee Bleed";
    font-style: italic;
}

h1 {
    /* border: 10px solid; */
    padding: 1%;
    /* border-width: 5px; */
}

#mad-libs-logo {
    width: 30%;
    max-width: 50%;
    height: auto;
    padding-bottom: 10px;
    margin-top: -30px;
}

#sandwich-cat {
    width: 15%;
    max-width: 30%;
}

#office-funny {
    width: 23%;
    max-width: 30%;
}

h2 { 
    text-align: center;
    color: rgb(77, 154, 190);
    font-family: "Times New Roman";
    margin-bottom: 70px;
    margin-top: 50px;
    margin: 40px;
    line-height: 40px;
}

h3 {
    font-style: italic;
    color: rgb(77, 154, 190);
    /* text-align: center; */
    /* margin-top: -350px; */
}

h4 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 120px;
}

ul {
    border: 10px solid rgb(77, 154, 190);
    font-family: sans-serif ;
    padding: 27px;
    padding-right: 60px;
    padding-left: 60px;
    margin: 10px;
    font-size: 25px; 
}

#custom-container {
    display: flex;

}

#custom-story {
    color: rgb(249, 249, 252);
    font-size:20px;
    text-align: center;
    /* width: 75%; */
    /* margin-bottom: 400px; */
    /* margin-left: 300px; */
    width: 75%;
    line-height: 200%;
}

#story-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#previous-stories > p {
    display: none;
    /* border: 5px solid rgb(59, 216, 241); */
    padding: 20px;

}

#previous-stories > button {
    display: none;
    font-size: large;
    background-color: rgb(59, 216, 241);
}

#posts-container {
    display: flex;
    justify-content: center;
}

.underline-text {
   font-size: 150%;
}

.words {
    color: rgb(0, 255, 0);
    font-size: 28px;
}
